/*for dropdown menu*/
/*.navbar-list > li{
	padding: 15px;
	color: white;
}

.navbar-list > li > a{
	text-decoration: none;
	color: white;
}

li:nth-child(3):hover > ul{
	display: block;
}

.dropdown{
	display: none;
}*/

/*animations*/
/*.btn-signup{
	animation-name:
		buttonColorChange;
	animation-duration: 4s;
	animation-iteration-count:
		infinite;
}

@keyframes buttonColorChange{
	0% {background: red;}
	10% {background: orange;}
	25% {background: yellow;}
	35% {background: green;}
	50% {background: blue;}
	75% {background: indigo;}
	85% {background: violet;}
	from { border-radius: 50%; }
	to { border-radius: 0%; }
}

.btn-signup:focus {
	border-style: none;
}*/

/*styles.css*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

html {
  scroll-behavior: smooth;
}

/*landing-content*/
header {
	background: url(../images/blue-web.jpeg);
	background-size: cover;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*navbar*/
nav {
	background-color: black;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	opacity: 0.8;
	position: absolute;
	top: 0px;
}

nav div {
	margin-left: 30px;
}

nav h1 {
	font-size: 40px;
}

h1 a {
	text-decoration: none;
	color: white;
}

nav span {
	position: relative;
	left: -7.5px;
	font-size: 20px;
}

.navbar-links {
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.navbar-links a{
	padding: 40px 10px;
	color: white;
	text-decoration: none;
}

.navbar-links a:hover {
	background-color: #363636;
}

/*.dropdown{
	background-color: #474747;
	display: none;
	height: 300px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 950px;
	list-style-type: none;
}

.dropdown:hover{
	display:block;
}*/

/*services*/

.services {
	background-color: #d9d9d9;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-container {
	margin: 10px;
	background-color: white;
	height: 450px;
	width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.icon {
	margin-bottom: 50px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	opacity: 0.5;
	position: absolute;
	top: 50px;
}

i {
	padding: 5px;
	color: white;
	font-size: 50px;
	text-align: center;
}

.services h1{
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}

.services-container button{
	background-color: #575757;
	height: 50px;
	width: 100px;
	color: white;
	position: absolute;
	bottom: 50px;
	border: 0px;
	border-radius: 5px;
}

.services-container:hover{
	background-color: #00a9b5;
	transition-duration: 0.5s;
}

/*business-edge*/
.business-edge {
	padding: 50px;
	background-color: #008077;
	height: 50vh;
	display:flex;
	justify-content: space-between;
	align-items: center;
	color:white;
}

.business-edge-article{
	width: 500px;
}

.business-edge li {
	padding: 10px;
}

.business-edge button {
	background-color: #00cccf;
	border: 0px;
	border-radius: 5px;
	padding: 20px;
	position: relative;
	top: 15px;
	color: white;
	font-family: 'Merriweather', serif;
}

/*website-tips*/

.website-tips {
	background-color: #636363;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.website-tips-perks {
	margin: 15px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.website-tips img {
	height: 200px;
	width: 200px;
}

.website-tips-thumbnails{
	height: 300px;
	width: 250px;
	margin: 0px 30px;
	padding: 15px 0px;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.website-tips-text{
	margin: 20px;
}